@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');


h1 {
  text-align: left;
  font-family: Ubuntu, sans-serif;
  font-size: 2em;
}

a img.logo:hover {
  opacity: 0.5;
}


section.intro {
  padding: 2em;
}

section.intro h2 {
  text-align: center;
  color: lightpink;
  font-family: Itim, cursive;
  text-align: right;
  text-shadow: 1px 1px black;
}

section.steps {
  padding: 2em;
}

